.btn {
  display: block;
  width: 155px;
  height: 42px;
  line-height: 42px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, $lime-green, $bright-cyan);
  font-size: 14px;
  border: none;
  @include prefixer(border-radius, 25px, webkit moz ms o);
  @include prefixer(transition, opacity 0.3s, webkit moz ms o);
  &:hover {
    opacity: 0.5;
  }
}

.scroll-top-btn {
  position: fixed;
  bottom: 300px;
  right: 15px;
  display: none;
  &.visible {
    display: block;
    @include prefixer(animation, fadeIn 0.5s linear, webkit moz ms o);
  }
  i {
    color: rgb($black, 0.75);
    font-size: 35px;
    @include prefixer(transition, all 0.3s, webkit moz ms o);
    cursor: pointer;
    &:hover {
      color: $black;
    }
  }
}